<form action="/categories/add" method="post"  class="form form__post">
  <span class="form__post--label">
    <label for="name"><span class="form__post--before">Category Name</span><span class="form__post--label--content">Category Name (required) </span></label><br/>
  <input type="text" name="name" id="name" value="" class=" form__post--input">
  </span>

  <br/>
  <input type="submit" value="Add Category" class="button post__submit">
</form>
