<form action="/posts/add" method="post" enctype="multipart/form-data" class="form form__post">
  <span class="form__post--label">
    <label for="title"><span class="form__post--before">Post Title</span><span class="form__post--label--content">Post Title (required) </span></label><br/>
  <input type="text" name="title" id="title" value="" class="form__post--input">
  </span>

  <br>
  <span class="form__post--label">
    <label for="category"><span class="form__post--before">Category</span><span class="form__post--label--content">Category (required) </span></label><br/>
    <div class="form__custom--select" id="author">
    <span class="placeholder">Choose a Category</span>
    <div class="options">
    <ul>
      <% if (categories !== undefined) { %>
        <% for( cat in categories){ %>
  <li data-option data-value="<%= categories[cat].name %>" ><span><%= categories[cat].name %></span></li>

      <%  } %>
      <%} %>
    		</ul>
        </div>
    <select name="category" class="form__post--select">
      <% if (categories) { %>
        <% for( cat in categories){ %>
      <option value="<%= categories[cat].name %>"><%= categories[cat].name %></option>
      <%  } %>
      <%} %>
    </select>
    </div>
  </span>

  <br>
  <span  class="form__post--label">
    <label for="author"><span class="form__post--before">Author</span><span class="form__post--label--content">Author (required) </span></label><br/>
    <div class="form__custom--select" id="author">
    <span class="placeholder">Placeholder</span>
    <div class="options">
    <ul>
    			<li data-option data-value="1" class="form__select--selected"><span>Option 1</span></li>
    			<li data-option data-value="2"><span>Option 2</span></li>
    			<li data-option data-value="3"><span>Option 3</span></li>
    		</ul>
        </div>
    <select  name="author" id="author" class="form__post--select">
      <option  value="" disabled selected>Choose your option</option>
      <option  value="1">Option 1</option>
      <option  value="2">Option 2</option>
      <option  value="3">Option 3</option>
    </select>
    </div>
  </span>

  <br>
  <span class="form__post--label">
        <label for="body">
          <span class="form__post--before">Body</span>
  <span class="form__post--label--content">Body (required) </span></label><br/>
  <input name="body" type="hidden">
  <div id="editor" >
<p>Hello World!</p>
<p>Some initial <strong>bold</strong> text</p>
<p><br></p>
</div>
  </span>
<br>
  <label for="image--upload" class="form__image--upload--label">

<span class="form__post--file--content">Upload Profile Image </span></label>
  <input type="file" name="image--upload" id="image--upload" value="" class=" post__file--upload">
  <br><br>
  <input type="submit" value="Post" class="button post__submit">
</form>
