<%# error handling is good %>

  <h2 class="title title--preview">Add a Comment</h2>
<form action="/posts/addcomment" method="post"  class="form form__post">
  <input name="post__id" type="hidden" value="<%=post._id %>">

  <span class="form__post--label">
    <label for="comment__name"><span class="form__post--label--content"> Name</span></label><br/>
  <input type="text" name="comment__name" id="comment__name" value="" class="form__post--input">
  </span>
  <span class="form__post--label">
    <label for="comment__email"><span class="form__post--label--content"> Email</span></label><br/>
  <input type="text" name="comment__email" id="comment__email" value="" class="form__post--input">
  </span>

  <br>



  <span class="form__post--label">
        <label for="comment__body">
  <span class="form__post--label--content">Comment </span></label><br/>
  <textarea name="comment__body"  class="form__post--input" ></textarea>

  </span>
  <br>

  <input type="submit" value="Comment" class="button post__submit">
</form>
