<form action="/users/login" method="post"  class="form form__post">

  <span class="form__post--label">
    <label for="username"><span class="form__post--label--content">Username (required) </span></label><br/>
  <input type="text" name="username" id="username" value="" class="form__post--input" required>
  </span>
  <span class="form__post--label">
    <label for="password"><span class="form__post--label--content">Password (required) </span></label><br/>
  <input type="password" name="password" id="password" value="" class="form__post--input" required>
  </span>



  <input type="submit" value="Login" class="button post__submit">
</form>
