
<nav>
  <img class="logo" src="images/nodebloglogo.png"/>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts/add">Add Post</a></li>
    <li><a href="/categories/add">Add Category</a></li>
  </ul>
</nav>
