<!DOCTYPE html>
<html>
  <head>
<% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/navbar %>
      <div class="post__wrapper">

        <% include ./partials/addcategory-form %>

      </div>
    </div>

    <% include ./partials/footer %>
  </body>
</html>
