*, *::after, *::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  background: white;
  color: #333333;
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab', serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.container, .post__wrapper{
  height: 100%;
}
footer{
  position: relative;
  width: 100%;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding: 35px;
}
a {
  outline: none;
  color: #81c483;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #333;
  outline: none;
}
.button{
  float: left;
	min-width: 100%;
	max-width: 400px;
	display: block;
	margin: 1em auto;
	padding: 1em;
	border: none;
	background: transparent;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
  font-family: 'Zilla Slab', serif ;
  font-size: 1em;
  border: 3px solid rgba(129, 196, 131, 0.5);
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button:before{
  content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    background: inherit;
    border-radius: none;
    z-index: -1;
    opacity: 0.4;
    -webkit-transform: scale3d(0.8, 0.5, 1);
    transform: scale3d(0.8, 0.5, 1);

}
.button:focus {
  outline: none;
}
.button:active{
  -webkit-animation: color-animate 0.3s forwards;
  animation: color-animate 0.3s forwards;
  background-color: rgba(129, 196, 131, 0.5);
  border: transparent;
  color: white;
}
.button > span {
  	vertical-align: middle;
  }

  @-webkit-keyframes color-animate {
  	60% {
  		-webkit-transform: scale3d(0.8, 0.8, 1);
  		transform: scale3d(0.8, 0.8, 1);
  	}
  	85% {
  		-webkit-transform: scale3d(1.1, 1.1, 1);
  		transform: scale3d(1.1, 1.1, 1);
  	}
  	100% {
  		-webkit-transform: scale3d(1, 1, 1);
  		transform: scale3d(1, 1, 1);
  	}
  }
  @keyframes color-animate {
  	60% {
  		-webkit-transform: scale3d(0.8, 0.8, 1);
  		transform: scale3d(0.8, 0.8, 1);
  	}
  	85% {
  		-webkit-transform: scale3d(1.1, 1.1, 1);
  		transform: scale3d(1.1, 1.1, 1);
  	}
  	100% {
  		-webkit-transform: scale3d(1, 1, 1);
  		transform: scale3d(1, 1, 1);
  	}
  }
/* Navigation */
nav {
  background: #fff;
  width: 100%;
  line-height: 1;
  padding: 0 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-align-items: center;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
nav ul {
  list-style-type: none;
  margin: 0;
  height: 100%;
}

nav ul li {
  display: inline-block;
  padding: 15px;
  min-width: 150px;
  min-height: 80px;
  border-left: 1px solid rgba(202, 202, 202, 0.4);
}
nav ul li a,
nav img {
  position: relative;
  z-index: 21;
}

nav .fa, nav h1 {
  font-size: 2em;
  align-self: flex-start;
}
nav .fa {
  padding: 15px;

}

nav h1 {
  margin-right: auto;
}


.nav-overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, #ffffff, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100%;
  z-index: 20;
}
@media screen and (max-width: 901px) {
  nav .fa {

    align-self: center;
  }
  nav .fa.fa-commenting-o{
    margin-right: auto;
  }
  nav .fa.fa-bars{
    /*margin-left: auto;*/
  }
  nav .menu__slide{
    height: 100%;
  width: 100%;
  margin-top: 70px;
  position: fixed;
  z-index: 100;
  top: 0;
  /*right: -100%;*/
  background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
      transform: translateX(calc(100% + 2em));
  }
  nav .menu__slide.open{
      /*right: 0;*/
      transform: translateX(0);
  }
  nav .menu__slide.open .menu__links li{
      display: flex;
  }
}

/* Grid */
.post__wrapper {
  position: relative;
  z-index: 50;
}

.grid__container {
  position: relative;
  background-size: cover;
  background-position: top right;
}

.grid__item {
  padding: 45px 55px 30px;
  position: relative;
  color: inherit;
  background: #fff;
  min-height: 300px;
  background-size: cover;
  /*cursor: pointer;*/
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Overlay */
.grid:after {
  content: '';
  background: rgba(202, 202, 202, 0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.grid__item:before {
  position: absolute;
  content: '';
  background-color: white;
  opacity: 0.85;
  top: 0px;
  right: 35px;
  bottom: 0px;
  left: 35px;
  border-bottom: 1px solid rgba(74, 74, 74, 0.075);
}

.grid__item * {
  z-index: 10;
}

.grid__item h2 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 45px;
  word-spacing: -0.15em;
  font-weight: 300;

}
.grid__item h2 a{
  color: inherit;
}
.grid__item h2:hover a{
  opacity: 0.5;
}
.grid__item .snippet {
  width: 50%;
  padding: 1em 10px 0 0;
  position: absolute;
  top: 0;
  border-right: 1px solid rgba(202, 202, 202, 0.4);
  text-align: right;
  opacity: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: translate3d(-80px, 0, 0);
  transform: translate3d(-80px, 0, 0);
  letter-spacing: 1px;
  font-size: 78.5%;
}
.grid__item .category {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1em 45px;
}
.grid__item .meta__date {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em 45px;
}

.grid__item:hover {
  opacity: 0.95;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  z-index: 11;
}

.grid__item:hover .snippet {
  opacity: 1;
  -webkit-transform: translate3d(-35px, 0, 0);
  transform: translate3d(-35px, 0, 0);
}

@media screen and (min-width: 900px) {
  .grid__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .grid__item {
    width: 33.33%;
    border: none;
  }
  .grid__item .meta__date{
    padding: 1em 30px;
  }

  .grid__item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74, 74, 74, 0.075);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .grid__item:hover::before,
  .grid__item:focus::before {
    border: 3px solid rgba(129, 196, 131, 0.5);
  }
}
@media screen and (min-width: 1200px) {
  .grid__item {
    width: 25%;
  }
}
@media screen and (min-width: 1500px) {
  .grid__item {
    width: 25%;
  }
}
@media screen and (min-width: 1800px) {
  .grid__item {
    width: 20%;
  }
}
@media screen and (min-width: 2100px) {
  /* 6 columns */
  .grid__item {
    width: 16.66%;
  }
}

/* Registration Form */
.form {
  max-width: 400px;
  display: block;
  margin: auto;
}
.form__post--label {
  position: relative;
  /*z-index: 1;*/
  display: inline-block;
  margin: 1em;
  max-width: 400px;
  width: calc(100% - 2em);
  vertical-align: top;
  background: #fff;

}
.form__post--input:focus {
box-shadow: 0px 0px 0px 2px rgba(129, 196, 131, 0.5);
}

.form__post label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
  color: #d2d2d2;
}

.form__post--input {
  position: relative;
  display: block;
  float: right;
  padding: 1em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  font-weight: 300;
  font-size: 16px;
  -webkit-appearance: none;
  width: 100%;
  font-family: 'Zilla Slab', serif ;
  color: #6a7989;
}

.form__post--input:focus {
  outline: none;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0px 0px 100px 50px;
    	opacity: 0;
	}
}



/* Custom Select */

.form__custom--select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #f0f0f0;
  color: #6a7989;
  z-index: 50;
  width: 100%;
  max-width: 400px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__custom--select:focus {
  outline: none;
}
.form__custom--select select {
  display: none;
}
.form__custom--select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form__custom--select > span {
  padding-right: 3em;
}

.form__custom--select > span:after,
.form__custom--select .form__select--selected span:after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form__custom--select > span:after {
  content: '\f107';
  font-family: 'FontAwesome';
  right: 1em;
}
/*.form__custom--select .form__select--selected span:after {
  content: '\f107';
  font-family: 'FontAwesome';
  margin-left: 1em;
}*/

.form__custom--select.active > span:after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
div.form__custom--select.active {
  z-index: 200;

}

/* Options */
.form__custom--select .options {
  position: absolute;
  overflow: hidden;
  z-index: inherit;
  width: 100%;
  background: #f0f0f0;
  visibility: hidden;
}

.form__custom--select.active .options {
  visibility: visible;
}

.form__custom--select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form__custom--select ul span {
  padding: 1em;
}

.form__custom--select ul li.form__select--selected span, .form__custom--select ul li:hover span {
  background-color: rgba(129, 196, 131, 0.5);
}

/* Optgroup and optgroup label */
.form__custom--select li.optgroup ul {
  padding-left: 1em;
}

.form__custom--select li.optgroup > span {
  cursor: default;
}

/* Text Editor */
#editor,
.ql-toolbar {
  max-width: 400px;
}
.ql-hidden{
  visibility: hidden;
}
.ql-toolbar.ql-snow {
  border: 1px solid rgba(74, 74, 74, 0.075) !important;
}
.ql-container.ql-snow {
  background: #f0f0f0;
  border: 1px solid rgba(74, 74, 74, 0.075) !important;
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
}

/* Single Post */
.post__container{
  position: relative;
  overflow: auto;
  /*padding: 35px 50px;*/
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.post__container--single{
  background-color: white;
  width: 90%;
  min-height: 90%;
  position: absolute;
  padding: 20px 30px;
	top: 5%;
  left: 5%;
  margin-bottom: 50px;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}
.post__container--single h2{
  margin-top: 50px;
}

.post__container--single .meta{
  position: absolute;
  padding: 30px;
  right: 0;
  top: 0;
}
.transform {
	-webkit-animation: moveFromLeftFade .7s ease both;
	animation: moveFromLeftFade .7s ease both;
}

@-webkit-keyframes moveFromLeftFade {
	from { opacity: 0.2; -webkit-transform: translateY(-100%); }
}
@keyframes moveFromLeftFade {
	from { opacity: 0.2; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@media screen and (min-width: 900px) {
  .post__container{
    position: relative;
    overflow: auto;
    /*padding: 35px 50px;*/
    width: 100%;
    height: 100%;
    perspective: 1200px;
    transform-style: preserve-3d;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .post__container--single{
    background-color: white;
    width: 50%;
    min-height: 80%;
    position: absolute;
    padding: 20px 30px;
  	top: 10%;
  	left: 50px;
    margin-bottom: 50px;
  	backface-visibility: hidden;
  	transform: translate3d(0, 0, 0);
  }

  .post__container--single .meta{
    position: absolute;
    padding: 30px;
    right: 0;
    top: 0;
  }
  .transform {
  	-webkit-animation: moveFromLeftFade .7s ease both;
  	animation: moveFromLeftFade .7s ease both;
  }

  @-webkit-keyframes moveFromLeftFade {
  	from { opacity: 0.3; -webkit-transform: translateX(-100%); }
  }
  @keyframes moveFromLeftFade {
  	from { opacity: 0.3; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
  }

}
/* Flash Messages */
#messages{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  color: white;
}
#messages ul{
  list-style-type: none;
  line-height: 50px;
  height: 50px;
  margin: 0;

}
.success{
background-color: rgba(129, 196, 131, 0.5);

}

/* Utilities */
.hidden-sm{
  display: block;
}
.hidden-lg{
  display: none !important;
}
@media screen and (max-width: 900px) {
  .hidden-sm{
    display: none !important;
  }
  .hidden-lg{
    display: block !important;
  }
}
